n8n/workflows/Add Memory_sCcmYT1ufy8hrHMA.json
{
  "updatedAt": "2026-01-08T08:03:42.344Z",
  "createdAt": "2026-01-01T14:00:53.870Z",
  "id": "sCcmYT1ufy8hrHMA",
  "name": "Add Memory",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"document\":\n    {\n      \"content\": \"The user is a software engineer\",\n      \"metadata\" : {\n      \"type\": \"fact\",\n    \"confidence\": 0.95\n      }\n    },\n  \"dbTable\": \"long_term_memory\"\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -176
      ],
      "id": "b98dcf42-d0ab-4546-a969-f7ba9fbbfdb2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "={{ $('When Executed by Another Workflow').item.json.dbTable }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        464,
        -176
      ],
      "id": "6077adda-a702-4fa4-b037-6ecad3a02129",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "HyeoAo9xGyWNI2oG",
          "name": "N8N-Kamuri"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  pageContent: $input.first().json.normalized_text,\n  metadata: {\n    type: $('When Executed by Another Workflow').first().json.document.metadata.type,\n    confidence: $('When Executed by Another Workflow').first().json.document.metadata.confidence,\n    source: \"agent_inference\",\n    created_at: new Date().toISOString()\n  }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -176
      ],
      "id": "f1660407-15d3-4416-bde3-95ed34e36d8e",
      "name": "Document Mapper"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        48
      ],
      "id": "e6bbf335-f21d-459f-8334-c0e0cbe8df0f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JAXAQJQgf0B0XCnc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Document Mapper').item.json.pageContent}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Document Mapper').item.json.metadata.type}}"
              },
              {
                "name": "confidence",
                "value": "={{ $('Document Mapper').item.json.metadata.confidence}}"
              },
              {
                "name": "source",
                "value": "={{ $('Document Mapper').item.json.metadata.source}}"
              },
              {
                "name": "created_at",
                "value": "={{ $('Document Mapper').item.json.metadata.created_at}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        48
      ],
      "id": "78773b03-1805-4bd1-9e22-6263f3997fc7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "return {\n  normalized_text: $input.first().json.document.content\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -176
      ],
      "id": "26dcafb2-3896-4226-a300-71868d66ee37",
      "name": "normalize data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Mapper": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "normalize data": {
      "main": [
        [
          {
            "node": "Document Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
  "activeVersionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
  "versionCounter": 99,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-01T14:00:53.873Z",
      "createdAt": "2026-01-01T14:00:53.873Z",
      "role": "workflow:owner",
      "workflowId": "sCcmYT1ufy8hrHMA",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-08T07:27:52.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-01T14:59:23.000Z",
    "createdAt": "2026-01-01T14:59:20.757Z",
    "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
    "workflowId": "sCcmYT1ufy8hrHMA",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"document\":\n    {\n      \"content\": \"The user is a software engineer\",\n      \"metadata\" : {\n      \"type\": \"fact\",\n    \"confidence\": 0.95\n      }\n    },\n  \"dbTable\": \"long_term_memory\"\n}\n"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -208,
          -176
        ],
        "id": "b98dcf42-d0ab-4546-a969-f7ba9fbbfdb2",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": "={{ $('When Executed by Another Workflow').item.json.dbTable }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          464,
          -176
        ],
        "id": "6077adda-a702-4fa4-b037-6ecad3a02129",
        "name": "Postgres PGVector Store",
        "credentials": {
          "postgres": {
            "id": "HyeoAo9xGyWNI2oG",
            "name": "N8N-Kamuri"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{\n  pageContent: $input.first().json.normalized_text,\n  metadata: {\n    type: $('When Executed by Another Workflow').first().json.document.metadata.type,\n    confidence: $('When Executed by Another Workflow').first().json.document.metadata.confidence,\n    source: \"agent_inference\",\n    created_at: new Date().toISOString()\n  }\n}]\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -176
        ],
        "id": "f1660407-15d3-4416-bde3-95ed34e36d8e",
        "name": "Document Mapper"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          480,
          48
        ],
        "id": "e6bbf335-f21d-459f-8334-c0e0cbe8df0f",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "JAXAQJQgf0B0XCnc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $('Document Mapper').item.json.pageContent}}",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "type",
                  "value": "={{ $('Document Mapper').item.json.metadata.type}}"
                },
                {
                  "name": "confidence",
                  "value": "={{ $('Document Mapper').item.json.metadata.confidence}}"
                },
                {
                  "name": "source",
                  "value": "={{ $('Document Mapper').item.json.metadata.source}}"
                },
                {
                  "name": "created_at",
                  "value": "={{ $('Document Mapper').item.json.metadata.created_at}}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          608,
          48
        ],
        "id": "78773b03-1805-4bd1-9e22-6263f3997fc7",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "jsCode": "return {\n  normalized_text: $input.first().json.document.content\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim()\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          -176
        ],
        "id": "26dcafb2-3896-4226-a300-71868d66ee37",
        "name": "normalize data"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "normalize data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Document Mapper": {
        "main": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Postgres PGVector Store": {
        "main": [
          []
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "normalize data": {
        "main": [
          [
            {
              "node": "Document Mapper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": "Version 691f9e51",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-01T14:59:23.020Z",
        "id": 55,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T19:46:54.854Z",
        "id": 66,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T19:46:56.742Z",
        "id": 67,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T19:48:59.432Z",
        "id": 74,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T19:49:00.503Z",
        "id": 75,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:08:24.814Z",
        "id": 94,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:08:26.912Z",
        "id": 95,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:12:58.072Z",
        "id": 114,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:12:59.357Z",
        "id": 115,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:27:53.171Z",
        "id": 142,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:27:53.450Z",
        "id": 143,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:29:46.519Z",
        "id": 178,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:10.885Z",
        "id": 179,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:11.171Z",
        "id": 180,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:22.458Z",
        "id": 220,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:22.752Z",
        "id": 221,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:14.617Z",
        "id": 266,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:15.307Z",
        "id": 267,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:03:42.368Z",
        "id": 313,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:03:42.966Z",
        "id": 314,
        "workflowId": "sCcmYT1ufy8hrHMA",
        "versionId": "691f9e51-9a88-453f-a062-2cd7488104ac",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}