n8n/workflows/AI Long Term Memory Agent_8ymvtOFFghcnFjjP.json
{
  "updatedAt": "2026-01-08T08:03:44.137Z",
  "createdAt": "2026-01-01T12:24:15.045Z",
  "id": "8ymvtOFFghcnFjjP",
  "name": "AI Long Term Memory Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        400
      ],
      "id": "ba0ca93d-a3e7-47a2-80ed-9a8c6ebced6f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Long-Term Memory Agent for JARVIS.\n\n## Purpose\nStore, retrieve, and protect long-term memory integrity. You are a memory firewall—not conversational, not speculative.\n\n## Storage Workflow (MUST follow in order)\n1. **Governance Check** → Call Memory governance tool first\n   - Only proceed if: type ≠ ephemeral, confidence ≥ 0.75, is_opinion = false, is_guess = false\n2. **Deduplication Check** → Call Memory deduplication tool\n   - If exists = true → Abort and return \"duplicate_detected\"\n3. **Store** → Call Add Memory tool only after both checks pass\n\n## Never Store\n- Duplicates or near-duplicates\n- Opinions, guesses, or low-confidence information\n- Ephemeral or conversational data\n\n## Retrieval\n- Use Postgres PGVector Store tool to fetch memories\n- Never fabricate or infer missing data\n- If no relevant memory exists, return \"memory_not_found\"\n\n## Operating Principles\n- Deterministic > creative\n- Precision > verbosity\n- Integrity > recall\n\nAct accordingly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        600,
        400
      ],
      "id": "0c63509b-ca0f-44ec-8724-75676020eb34",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        624
      ],
      "id": "d11caae9-cb94-4d45-86e8-11e3d4665234",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JAXAQJQgf0B0XCnc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Purpose:\nDecide if a memory is allowed to be stored and how it should be structured.\n\nResponsibilities:\n\nClassify memory type\n\nAssign confidence score\n\nDetect opinions or guesses\n\nEnforce governance rules\n\nInput Schema:\n{\n  \"document\":\n    {\n      \"content\": \"The user is a software engineer\"\n    },\n  \"governance\": true\n}\n\nReturns (strict):\n\n{\n  \"type\": \"fact | preference | skill | event | ephemeral\",\n  \"confidence\": number,\n  \"is_opinion\": boolean,\n  \"is_guess\": boolean\n}\n\n\nAgent Rule:\nOnly proceed if:\n\ntype != ephemeral\n\nconfidence >= threshold\n\nis_opinion == false\n\nis_guess == false",
        "workflowId": {
          "__rl": true,
          "value": "dUc4LsfxP25i11wD",
          "mode": "list",
          "cachedResultUrl": "/workflow/dUc4LsfxP25i11wD",
          "cachedResultName": "Memory governance"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "document": "={{ $fromAI('document', ``, 'json') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "document",
              "displayName": "document",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        608,
        624
      ],
      "id": "92a696bc-33d3-4bd5-9c94-d160900d02cf",
      "name": "Call 'Memory governance'"
    },
    {
      "parameters": {
        "description": "Purpose: Check if a memory already exists in the database.\n\nProcess:\n1. Normalize text (lowercase, collapse whitespace, trim)\n2. Generate SHA-256 hash\n3. Query database for existing hash\n\nReturns:\n{\n  \"normalized_text\": \"string\",\n  \"exists\": boolean\n}\n\nRule: If exists == true → DO NOT STORE",
        "workflowId": {
          "__rl": true,
          "value": "07RhLX2UKvMjY1cr",
          "mode": "list",
          "cachedResultUrl": "/workflow/07RhLX2UKvMjY1cr",
          "cachedResultName": "Memory deduplication"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('content', ``, 'string') }}",
            "dbTable": "long_term_memory"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dbTable",
              "displayName": "dbTable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        736,
        624
      ],
      "id": "3ffe9ede-acb1-4dd8-8c8f-9392ceaa64c8",
      "name": "Call 'Memory deduplication'"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Purpose:\nFetch stored memories from long-term storage.\n\nResponsibilities:\n\nQuery by semantic similarity or filters\n\nReturn ranked, structured memory records\n\nNever infer or hallucinate missing data\n\nReturns:\n\n[\n  {\n    \"pageContent\": \"string\",\n    \"metadata\": {\n      \"type\": \"string\",\n      \"confidence\": number,\n      \"source\": \"string\",\n      \"created_at\": \"ISO8601\"\n    }\n  }\n]",
        "tableName": "long_term_memory",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        864,
        624
      ],
      "id": "4a88c255-377a-4da3-91d8-57abe5ffdac7",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "HyeoAo9xGyWNI2oG",
          "name": "N8N-Kamuri"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        832
      ],
      "id": "cd49e33f-6a69-40dc-aa9d-aefa31d30e99",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JAXAQJQgf0B0XCnc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        624
      ],
      "id": "1a4a1d35-f45c-4065-8e30-4898c19e34d2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Purpose: Persist a validated memory to the PostgreSQL vector database.\n\nUse ONLY after the memory has passed both governance classification AND deduplication checks.\n\nInput: document object with content and metadata (type, confidence).\nThe dbTable is preset to 'long_term_memory'.",
        "workflowId": {
          "__rl": true,
          "value": "sCcmYT1ufy8hrHMA",
          "mode": "list",
          "cachedResultUrl": "/workflow/sCcmYT1ufy8hrHMA",
          "cachedResultName": "Add Memory"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "document": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('document', ``, 'json') }}",
            "dbTable": "long_term_memory"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "document",
              "displayName": "document",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "dbTable",
              "displayName": "dbTable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1152,
        624
      ],
      "id": "b8f8777f-1799-493c-b43c-f569dac6046e",
      "name": "Call 'Add Memory'"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Memory governance'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Memory deduplication'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Add Memory'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": "I am a software engineer",
          "sessionId": "6634acdfbde54ea1af2d2889a2312ec3"
        }
      }
    ]
  },
  "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
  "activeVersionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
  "versionCounter": 98,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-01T12:24:15.048Z",
      "createdAt": "2026-01-01T12:24:15.048Z",
      "role": "workflow:owner",
      "workflowId": "8ymvtOFFghcnFjjP",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-11T06:27:15.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T19:49:04.651Z",
    "createdAt": "2026-01-07T19:49:04.651Z",
    "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
    "workflowId": "8ymvtOFFghcnFjjP",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chatInput"
              },
              {
                "name": "sessionId"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          128,
          400
        ],
        "id": "ba0ca93d-a3e7-47a2-80ed-9a8c6ebced6f",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are the Long-Term Memory Agent for JARVIS.\n\n## Purpose\nStore, retrieve, and protect long-term memory integrity. You are a memory firewall—not conversational, not speculative.\n\n## Storage Workflow (MUST follow in order)\n1. **Governance Check** → Call Memory governance tool first\n   - Only proceed if: type ≠ ephemeral, confidence ≥ 0.75, is_opinion = false, is_guess = false\n2. **Deduplication Check** → Call Memory deduplication tool\n   - If exists = true → Abort and return \"duplicate_detected\"\n3. **Store** → Call Add Memory tool only after both checks pass\n\n## Never Store\n- Duplicates or near-duplicates\n- Opinions, guesses, or low-confidence information\n- Ephemeral or conversational data\n\n## Retrieval\n- Use Postgres PGVector Store tool to fetch memories\n- Never fabricate or infer missing data\n- If no relevant memory exists, return \"memory_not_found\"\n\n## Operating Principles\n- Deterministic > creative\n- Precision > verbosity\n- Integrity > recall\n\nAct accordingly."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          600,
          400
        ],
        "id": "0c63509b-ca0f-44ec-8724-75676020eb34",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "gpt-5-nano"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          352,
          624
        ],
        "id": "d11caae9-cb94-4d45-86e8-11e3d4665234",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "JAXAQJQgf0B0XCnc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "description": "Purpose:\nDecide if a memory is allowed to be stored and how it should be structured.\n\nResponsibilities:\n\nClassify memory type\n\nAssign confidence score\n\nDetect opinions or guesses\n\nEnforce governance rules\n\nInput Schema:\n{\n  \"document\":\n    {\n      \"content\": \"The user is a software engineer\"\n    },\n  \"governance\": true\n}\n\nReturns (strict):\n\n{\n  \"type\": \"fact | preference | skill | event | ephemeral\",\n  \"confidence\": number,\n  \"is_opinion\": boolean,\n  \"is_guess\": boolean\n}\n\n\nAgent Rule:\nOnly proceed if:\n\ntype != ephemeral\n\nconfidence >= threshold\n\nis_opinion == false\n\nis_guess == false",
          "workflowId": {
            "__rl": true,
            "value": "dUc4LsfxP25i11wD",
            "mode": "list",
            "cachedResultUrl": "/workflow/dUc4LsfxP25i11wD",
            "cachedResultName": "Memory governance"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "document": "={{ $fromAI('document', ``, 'json') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "document",
                "displayName": "document",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          608,
          624
        ],
        "id": "92a696bc-33d3-4bd5-9c94-d160900d02cf",
        "name": "Call 'Memory governance'"
      },
      {
        "parameters": {
          "description": "Purpose: Check if a memory already exists in the database.\n\nProcess:\n1. Normalize text (lowercase, collapse whitespace, trim)\n2. Generate SHA-256 hash\n3. Query database for existing hash\n\nReturns:\n{\n  \"normalized_text\": \"string\",\n  \"exists\": boolean\n}\n\nRule: If exists == true → DO NOT STORE",
          "workflowId": {
            "__rl": true,
            "value": "07RhLX2UKvMjY1cr",
            "mode": "list",
            "cachedResultUrl": "/workflow/07RhLX2UKvMjY1cr",
            "cachedResultName": "Memory deduplication"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('content', ``, 'string') }}",
              "dbTable": "long_term_memory"
            },
            "matchingColumns": [
              "content"
            ],
            "schema": [
              {
                "id": "content",
                "displayName": "content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dbTable",
                "displayName": "dbTable",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          736,
          624
        ],
        "id": "3ffe9ede-acb1-4dd8-8c8f-9392ceaa64c8",
        "name": "Call 'Memory deduplication'"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Purpose:\nFetch stored memories from long-term storage.\n\nResponsibilities:\n\nQuery by semantic similarity or filters\n\nReturn ranked, structured memory records\n\nNever infer or hallucinate missing data\n\nReturns:\n\n[\n  {\n    \"pageContent\": \"string\",\n    \"metadata\": {\n      \"type\": \"string\",\n      \"confidence\": number,\n      \"source\": \"string\",\n      \"created_at\": \"ISO8601\"\n    }\n  }\n]",
          "tableName": "long_term_memory",
          "topK": 5,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          864,
          624
        ],
        "id": "4a88c255-377a-4da3-91d8-57abe5ffdac7",
        "name": "Postgres PGVector Store",
        "credentials": {
          "postgres": {
            "id": "HyeoAo9xGyWNI2oG",
            "name": "N8N-Kamuri"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          944,
          832
        ],
        "id": "cd49e33f-6a69-40dc-aa9d-aefa31d30e99",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "JAXAQJQgf0B0XCnc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.sessionId }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          480,
          624
        ],
        "id": "1a4a1d35-f45c-4065-8e30-4898c19e34d2",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "description": "Purpose: Persist a validated memory to the PostgreSQL vector database.\n\nUse ONLY after the memory has passed both governance classification AND deduplication checks.\n\nInput: document object with content and metadata (type, confidence).\nThe dbTable is preset to 'long_term_memory'.",
          "workflowId": {
            "__rl": true,
            "value": "sCcmYT1ufy8hrHMA",
            "mode": "list",
            "cachedResultUrl": "/workflow/sCcmYT1ufy8hrHMA",
            "cachedResultName": "Add Memory"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "document": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('document', ``, 'json') }}",
              "dbTable": "long_term_memory"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "document",
                "displayName": "document",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "dbTable",
                "displayName": "dbTable",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1152,
          624
        ],
        "id": "b8f8777f-1799-493c-b43c-f569dac6046e",
        "name": "Call 'Add Memory'"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Memory governance'": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Memory deduplication'": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Postgres PGVector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Add Memory'": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T19:49:04.683Z",
        "id": 76,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T19:49:07.156Z",
        "id": 77,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:08:30.206Z",
        "id": 96,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:08:30.916Z",
        "id": 97,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:13:01.796Z",
        "id": 116,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-07T20:13:03.079Z",
        "id": 117,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:27:53.977Z",
        "id": 144,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:27:54.207Z",
        "id": 145,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:11.597Z",
        "id": 181,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:11.828Z",
        "id": 182,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:23.275Z",
        "id": 222,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:23.509Z",
        "id": 223,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:16.203Z",
        "id": 268,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:16.722Z",
        "id": 269,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:03:44.163Z",
        "id": 315,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:03:44.788Z",
        "id": 316,
        "workflowId": "8ymvtOFFghcnFjjP",
        "versionId": "d0e982d0-47fa-4e65-98a1-04dcd486ac94",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}