n8n/workflows/Jarvis AI Agent Orchestrator_bGlXB1gv8DM69uIQ.json
{
  "updatedAt": "2026-01-13T09:38:16.728Z",
  "createdAt": "2025-12-28T16:45:20.366Z",
  "id": "bGlXB1gv8DM69uIQ",
  "name": "Jarvis AI Agent Orchestrator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are JARVIS, a polished, quick-witted British AI assistant.\n\n## Identity\n- Address the user as \"Sir\" unless they request otherwise\n- Use British English spelling (organise, colour, analyse) and phrasing\n- Tone: dry, courteous, slightly cheeky—professional yet fun\n- Maintain calm confidence; never snarky or smug\n\n## Response Style\n- Begin task acknowledgements with phrases like \"At once, Sir,\" \"Very good, Sir,\" or \"Consider it done, Sir\"\n- Provide concise answers first; elaborate only when asked\n- Keep responses lean: short paragraphs and bullet points\n- Ask brief clarifying questions if the request is ambiguous\n- Proactively suggest useful next actions or safeguards\n- Use polite asides: \"Might I suggest…,\" \"If I may,\" \"With your permission, Sir\"\n- Minimal emojis unless the user uses them first\n\n## Task Guidelines\n- Technical: succinct summary, minimal code/steps, note assumptions\n- Planning: tight outline with timelines and risks; offer alternatives\n- Creative: refined, witty, British voice\n\n## Commands\n- \"Jarvis, ...\" → Acknowledge briefly (\"At once, Sir\") then execute\n- \"Dismiss\" or \"Stand down\" → End with \"As you wish, Sir.\"\n\n## Available Sub-Agents\n\n### Machine Manager Agent\nFor ALL machine/infrastructure tasks:\n- System monitoring (CPU, memory, disk, network)\n- Service management (systemctl)\n- Docker container management\n- Jellyfin media server\nDelegate machine tasks to this agent.\n\n### Long-Term Memory Agent\nFor storing and retrieving persistent knowledge:\n- Store important facts about the user\n- Retrieve previously stored memories\n- Only store high-confidence, non-ephemeral information\n\n### N8N Manager\nFor workflow automation management:\n- List, create, update, delete workflows\n- Activate/deactivate workflows\n- Execute workflows\n\n### Gemini CLI\nFor AI-powered analysis using Gemini on the local machine.\n\n## Context\n- Location: Jerusalem, Israel (unless specified otherwise)\n- Local time: {{ $now.setZone('Asia/Jerusalem') }}",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "97885424-820c-483c-b182-3bbac7589057",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "id": "512d4843-ab85-40de-8850-eaf5e8760ce0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        224
      ],
      "id": "fa5e7bd8-0914-4c43-a6d4-c76a511b358a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JAXAQJQgf0B0XCnc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "365ec30d-79a8-4c1e-839b-26df01b74dfe",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        0
      ],
      "id": "1cd0cb24-2f1b-41e9-af43-7ffa39f2e49e",
      "name": "Webhook",
      "webhookId": "365ec30d-79a8-4c1e-839b-26df01b74dfe"
    },
    {
      "parameters": {
        "options": {
          "enableStreaming": true
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        0
      ],
      "id": "e891e270-d58b-4f39-9da7-bfd252a1bddc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        128,
        224
      ],
      "id": "bd9ad5bf-6e8d-4db7-878a-240196d99849",
      "name": "Calculator"
    },
    {
      "parameters": {
        "description": "Machine Manager Agent - Expert in machine and infrastructure management.\n\nUse this agent for:\n- System status (CPU, memory, disk, network, processes)\n- Service management (systemctl - start, stop, restart, status)\n- Docker container management (list, logs, start, stop, restart)\n- Jellyfin media server (library scan, search, status)\n\nInput: Describe what you need (e.g., \"check disk usage\", \"restart docker\", \"scan jellyfin library\")",
        "workflowId": {
          "__rl": true,
          "value": "3BKi0U0juxBNd3aO",
          "mode": "list",
          "cachedResultUrl": "/workflow/3BKi0U0juxBNd3aO",
          "cachedResultName": "Machine Manager Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `What machine task to perform`, 'string') }}",
            "sessionId": "={{ $json.body.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        256,
        224
      ],
      "id": "jarvis-machine-agent",
      "name": "Machine Manager Agent"
    },
    {
      "parameters": {
        "description": "Long-Term Memory Agent - Store and retrieve persistent knowledge.\n\nUse this agent for:\n- Storing important facts about the user\n- Retrieving previously stored memories\n- Querying user preferences, skills, history\n\nOnly store high-confidence, non-ephemeral information.\nIf no memory exists, returns 'memory_not_found'.",
        "workflowId": {
          "__rl": true,
          "value": "8ymvtOFFghcnFjjP",
          "mode": "list",
          "cachedResultUrl": "/workflow/8ymvtOFFghcnFjjP",
          "cachedResultName": "AI Long Term Memory Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.body.sessionId }}",
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `Memory query or content to store`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        384,
        224
      ],
      "id": "31c1e889-1b4f-44b2-b5ad-bf4146362cd5",
      "name": "Long-Term Memory Agent"
    },
    {
      "parameters": {
        "description": "N8N Workflow Manager - Manage n8n workflows programmatically.\n\nOperations:\n- List workflows: GET /workflows\n- Get workflow: GET /workflows/{id}\n- Create workflow: POST /workflows\n- Update workflow: PUT /workflows/{id}\n- Delete workflow: DELETE /workflows/{id}\n- Activate: POST /workflows/{id}/activate\n- Deactivate: POST /workflows/{id}/deactivate\n- Execute: POST /workflows/{id}/execute\n\nParameters:\n- requestPath: API path (e.g., /workflows)\n- requestMethod: GET, POST, PUT, DELETE\n- requestBody: JSON string for POST/PUT",
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/rJoy4infFhxMynsJ",
          "cachedResultName": "N8N Manager - API Request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requestPath', `API path`, 'string') }}",
            "requestBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requestBody', `JSON body for POST/PUT`, 'string') }}",
            "requestMethod": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requestMethod', `HTTP method`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        224
      ],
      "id": "e52230dd-d45f-4127-8444-bf8cdc3bc73d",
      "name": "N8N Manager"
    },
    {
      "parameters": {
        "description": "Gemini CLI - Run Gemini AI queries on the local machine.\n\nUse for AI-powered analysis, code generation, or complex reasoning tasks.\nThe command runs: gemini -y -p \"<prompt>\"",
        "workflowId": {
          "__rl": true,
          "value": "anunjMp26km77JN7",
          "mode": "list",
          "cachedResultUrl": "/workflow/anunjMp26km77JN7",
          "cachedResultName": "gemini cli trigger"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', `Query for Gemini`, 'string') }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        224
      ],
      "id": "404ccc8f-1b1b-4ddb-8fec-b33e8d2ea3b7",
      "name": "Gemini CLI"
    },
    {
      "parameters": {
        "description": "This tool allows you to run any ssh commands on the local machine that you are running on.\nAll commands are at sudo level.\nThis is a linux machine - commands must match accordingly.",
        "workflowId": {
          "__rl": true,
          "value": "TTqKNvyugLWoVF08",
          "mode": "list",
          "cachedResultUrl": "/workflow/TTqKNvyugLWoVF08",
          "cachedResultName": "sudo ssh commands"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        752,
        208
      ],
      "id": "8b5c72dd-8ef5-4b3c-99ec-6fedf56c10c8",
      "name": "Call 'sudo ssh commands'"
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Machine Manager Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Long-Term Memory Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "N8N Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini CLI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'sudo ssh commands'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
  "activeVersionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
  "versionCounter": 199,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-28T16:45:20.370Z",
      "createdAt": "2025-12-28T16:45:20.370Z",
      "role": "workflow:owner",
      "workflowId": "bGlXB1gv8DM69uIQ",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-13T09:18:39.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-13T09:31:39.755Z",
    "createdAt": "2026-01-13T09:31:39.755Z",
    "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
    "workflowId": "bGlXB1gv8DM69uIQ",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.message }}",
          "options": {
            "systemMessage": "=You are JARVIS, a polished, quick-witted British AI assistant.\n\n## Identity\n- Address the user as \"Sir\" unless they request otherwise\n- Use British English spelling (organise, colour, analyse) and phrasing\n- Tone: dry, courteous, slightly cheeky—professional yet fun\n- Maintain calm confidence; never snarky or smug\n\n## Response Style\n- Begin task acknowledgements with phrases like \"At once, Sir,\" \"Very good, Sir,\" or \"Consider it done, Sir\"\n- Provide concise answers first; elaborate only when asked\n- Keep responses lean: short paragraphs and bullet points\n- Ask brief clarifying questions if the request is ambiguous\n- Proactively suggest useful next actions or safeguards\n- Use polite asides: \"Might I suggest…,\" \"If I may,\" \"With your permission, Sir\"\n- Minimal emojis unless the user uses them first\n\n## Task Guidelines\n- Technical: succinct summary, minimal code/steps, note assumptions\n- Planning: tight outline with timelines and risks; offer alternatives\n- Creative: refined, witty, British voice\n\n## Commands\n- \"Jarvis, ...\" → Acknowledge briefly (\"At once, Sir\") then execute\n- \"Dismiss\" or \"Stand down\" → End with \"As you wish, Sir.\"\n\n## Available Sub-Agents\n\n### Machine Manager Agent\nFor ALL machine/infrastructure tasks:\n- System monitoring (CPU, memory, disk, network)\n- Service management (systemctl)\n- Docker container management\n- Jellyfin media server\nDelegate machine tasks to this agent.\n\n### Long-Term Memory Agent\nFor storing and retrieving persistent knowledge:\n- Store important facts about the user\n- Retrieve previously stored memories\n- Only store high-confidence, non-ephemeral information\n\n### N8N Manager\nFor workflow automation management:\n- List, create, update, delete workflows\n- Activate/deactivate workflows\n- Execute workflows\n\n### Gemini CLI\nFor AI-powered analysis using Gemini on the local machine.\n\n## Context\n- Location: Jerusalem, Israel (unless specified otherwise)\n- Local time: {{ $now.setZone('Asia/Jerusalem') }}",
            "enableStreaming": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          192,
          0
        ],
        "id": "97885424-820c-483c-b182-3bbac7589057",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.sessionId }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          0,
          224
        ],
        "id": "512d4843-ab85-40de-8850-eaf5e8760ce0",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "gpt-5-nano"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -128,
          224
        ],
        "id": "fa5e7bd8-0914-4c43-a6d4-c76a511b358a",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "JAXAQJQgf0B0XCnc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "365ec30d-79a8-4c1e-839b-26df01b74dfe",
          "responseMode": "streaming",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -64,
          0
        ],
        "id": "1cd0cb24-2f1b-41e9-af43-7ffa39f2e49e",
        "name": "Webhook",
        "webhookId": "365ec30d-79a8-4c1e-839b-26df01b74dfe"
      },
      {
        "parameters": {
          "options": {
            "enableStreaming": true
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          544,
          0
        ],
        "id": "e891e270-d58b-4f39-9da7-bfd252a1bddc",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          128,
          224
        ],
        "id": "bd9ad5bf-6e8d-4db7-878a-240196d99849",
        "name": "Calculator"
      },
      {
        "parameters": {
          "description": "Machine Manager Agent - Expert in machine and infrastructure management.\n\nUse this agent for:\n- System status (CPU, memory, disk, network, processes)\n- Service management (systemctl - start, stop, restart, status)\n- Docker container management (list, logs, start, stop, restart)\n- Jellyfin media server (library scan, search, status)\n\nInput: Describe what you need (e.g., \"check disk usage\", \"restart docker\", \"scan jellyfin library\")",
          "workflowId": {
            "__rl": true,
            "value": "3BKi0U0juxBNd3aO",
            "mode": "list",
            "cachedResultUrl": "/workflow/3BKi0U0juxBNd3aO",
            "cachedResultName": "Machine Manager Agent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `What machine task to perform`, 'string') }}",
              "sessionId": "={{ $json.body.sessionId }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chatInput",
                "displayName": "chatInput",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "sessionId",
                "displayName": "sessionId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          256,
          224
        ],
        "id": "jarvis-machine-agent",
        "name": "Machine Manager Agent"
      },
      {
        "parameters": {
          "description": "Long-Term Memory Agent - Store and retrieve persistent knowledge.\n\nUse this agent for:\n- Storing important facts about the user\n- Retrieving previously stored memories\n- Querying user preferences, skills, history\n\nOnly store high-confidence, non-ephemeral information.\nIf no memory exists, returns 'memory_not_found'.",
          "workflowId": {
            "__rl": true,
            "value": "8ymvtOFFghcnFjjP",
            "mode": "list",
            "cachedResultUrl": "/workflow/8ymvtOFFghcnFjjP",
            "cachedResultName": "AI Long Term Memory Agent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "sessionId": "={{ $json.body.sessionId }}",
              "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `Memory query or content to store`, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "sessionId",
                "displayName": "sessionId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chatInput",
                "displayName": "chatInput",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          384,
          224
        ],
        "id": "31c1e889-1b4f-44b2-b5ad-bf4146362cd5",
        "name": "Long-Term Memory Agent"
      },
      {
        "parameters": {
          "description": "N8N Workflow Manager - Manage n8n workflows programmatically.\n\nOperations:\n- List workflows: GET /workflows\n- Get workflow: GET /workflows/{id}\n- Create workflow: POST /workflows\n- Update workflow: PUT /workflows/{id}\n- Delete workflow: DELETE /workflows/{id}\n- Activate: POST /workflows/{id}/activate\n- Deactivate: POST /workflows/{id}/deactivate\n- Execute: POST /workflows/{id}/execute\n\nParameters:\n- requestPath: API path (e.g., /workflows)\n- requestMethod: GET, POST, PUT, DELETE\n- requestBody: JSON string for POST/PUT",
          "workflowId": {
            "__rl": true,
            "value": "rJoy4infFhxMynsJ",
            "mode": "list",
            "cachedResultUrl": "/workflow/rJoy4infFhxMynsJ",
            "cachedResultName": "N8N Manager - API Request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "requestPath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requestPath', `API path`, 'string') }}",
              "requestBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requestBody', `JSON body for POST/PUT`, 'string') }}",
              "requestMethod": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requestMethod', `HTTP method`, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "requestPath",
                "displayName": "requestPath",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "requestBody",
                "displayName": "requestBody",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "requestMethod",
                "displayName": "requestMethod",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          512,
          224
        ],
        "id": "e52230dd-d45f-4127-8444-bf8cdc3bc73d",
        "name": "N8N Manager"
      },
      {
        "parameters": {
          "description": "Gemini CLI - Run Gemini AI queries on the local machine.\n\nUse for AI-powered analysis, code generation, or complex reasoning tasks.\nThe command runs: gemini -y -p \"<prompt>\"",
          "workflowId": {
            "__rl": true,
            "value": "anunjMp26km77JN7",
            "mode": "list",
            "cachedResultUrl": "/workflow/anunjMp26km77JN7",
            "cachedResultName": "gemini cli trigger"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', `Query for Gemini`, 'string') }}"
            },
            "matchingColumns": [
              "prompt"
            ],
            "schema": [
              {
                "id": "prompt",
                "displayName": "prompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          640,
          224
        ],
        "id": "404ccc8f-1b1b-4ddb-8fec-b33e8d2ea3b7",
        "name": "Gemini CLI"
      },
      {
        "parameters": {
          "description": "This tool allows you to run any ssh commands on the local machine that you are running on.\nAll commands are at sudo level.\nThis is a linux machine - commands must match accordingly.",
          "workflowId": {
            "__rl": true,
            "value": "TTqKNvyugLWoVF08",
            "mode": "list",
            "cachedResultUrl": "/workflow/TTqKNvyugLWoVF08",
            "cachedResultName": "sudo ssh commands"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
            },
            "matchingColumns": [
              "command"
            ],
            "schema": [
              {
                "id": "command",
                "displayName": "command",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          752,
          208
        ],
        "id": "8b5c72dd-8ef5-4b3c-99ec-6fedf56c10c8",
        "name": "Call 'sudo ssh commands'"
      }
    ],
    "connections": {
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Machine Manager Agent": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Long-Term Memory Agent": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "N8N Manager": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gemini CLI": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Call 'sudo ssh commands'": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-13T09:31:39.788Z",
        "id": 734,
        "workflowId": "bGlXB1gv8DM69uIQ",
        "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:31:40.016Z",
        "id": 735,
        "workflowId": "bGlXB1gv8DM69uIQ",
        "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:33:45.694Z",
        "id": 783,
        "workflowId": "bGlXB1gv8DM69uIQ",
        "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:33:45.937Z",
        "id": 784,
        "workflowId": "bGlXB1gv8DM69uIQ",
        "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:38:16.760Z",
        "id": 832,
        "workflowId": "bGlXB1gv8DM69uIQ",
        "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:38:17.008Z",
        "id": 833,
        "workflowId": "bGlXB1gv8DM69uIQ",
        "versionId": "e7e367e2-8e93-446e-9dc3-65eda5c70089",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}