n8n/workflows/Machine Manager - System Status_7LHGwHNVnfFNR7Dz.json
{
  "name": "Machine Manager - System Status",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "infoType",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "sys-status-trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Determine which system info command to run based on infoType\nconst infoType = $input.first().json.infoType?.toLowerCase() || 'all';\n\nlet command = '';\n\nswitch(infoType) {\n  case 'cpu':\n    command = \"top -bn1 | head -5 && echo '---CPU INFO---' && lscpu | grep -E 'Model name|CPU\\(s\\)|Thread|Core'\";\n    break;\n  case 'memory':\n  case 'ram':\n    command = \"free -h && echo '---MEMORY DETAILS---' && cat /proc/meminfo | head -10\";\n    break;\n  case 'disk':\n    command = \"df -h && echo '---LARGEST DIRECTORIES---' && du -sh /home/* 2>/dev/null | sort -hr | head -10\";\n    break;\n  case 'network':\n    command = \"ip addr show | grep -E 'inet |link/' && echo '---LISTENING PORTS---' && ss -tlnp | head -20\";\n    break;\n  case 'processes':\n    command = \"ps aux --sort=-%mem | head -15\";\n    break;\n  case 'uptime':\n    command = \"uptime && echo '---SYSTEM INFO---' && uname -a\";\n    break;\n  case 'all':\n  default:\n    command = \"echo '=== UPTIME ===' && uptime && echo '\\n=== CPU ===' && top -bn1 | head -5 && echo '\\n=== MEMORY ===' && free -h && echo '\\n=== DISK ===' && df -h | grep -E '^/dev/' && echo '\\n=== NETWORK ===' && ip addr show | grep 'inet ' | head -5\";\n    break;\n}\n\nreturn [{ json: { command } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "sys-status-prepare",
      "name": "Prepare Command"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "sys-status-execute",
      "name": "Execute System Command",
      "credentials": {
        "sshPassword": {
          "id": "JjGMaWTmkWf8n5Qj",
          "name": "IOT_Kamuri"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the output for better readability\nconst result = $input.first().json;\nconst stdout = result.stdout || '';\nconst stderr = result.stderr || '';\nconst infoType = $('When Executed by Another Workflow').first().json.infoType || 'all';\n\nreturn [{\n  json: {\n    infoType,\n    status: 'success',\n    output: stdout,\n    errors: stderr || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "sys-status-format",
      "name": "Format Output"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Command": {
      "main": [
        [
          {
            "node": "Execute System Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute System Command": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": true,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "infoType": "all"
        }
      }
    ]
  },
  "id": "7LHGwHNVnfFNR7Dz"
}