n8n/workflows/Memory governance_dUc4LsfxP25i11wD.json
{
  "updatedAt": "2026-01-01T14:51:40.565Z",
  "createdAt": "2025-12-29T18:50:25.303Z",
  "id": "dUc4LsfxP25i11wD",
  "name": "Memory governance",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"document\":\n    {\n      \"content\": \"The user is a software engineer\"\n    },\n  \"governance\": true\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -176
      ],
      "id": "039ec987-5dcd-4717-97a7-1bf2933e5cb0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9aeb185-403d-4a57-b3a0-9208bc27ca13",
              "leftValue": "={{ $json.output[0].content[0].text.type }}",
              "rightValue": "ephemeral",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "e9135d40-b171-4672-8788-2574ccb2a944",
              "leftValue": "={{ $json.output[0].content[0].text.confidence }}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "ae1ff637-549a-47b2-ad4f-58186b4ecca9",
              "leftValue": "={{ $json.output[0].content[0].text.is_opinion }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "e7c463f5-1951-4503-9253-0974d61e2a93",
              "leftValue": "={{ $json.output[0].content[0].text.is_guess }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        -240
      ],
      "id": "76f9bf0c-3184-4c42-8e6a-81d5e115c840",
      "name": "Memory Gate"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  pageContent: $('normalize data').first().json.normalized_text,\n  metadata: {\n    type: $input.first().json.output[0].content[0].text.type,\n    confidence: $input.first().json.output[0].content[0].text.confidence,\n    is_opinion: $('Message Classifier').first().json.output[0].content[0].text.is_opinion,\n    is_guess: $('Message Classifier').first().json.output[0].content[0].text.is_guess\n  }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -176
      ],
      "id": "e927d23a-db29-4282-b757-8cfc960cdde5",
      "name": "Document Mapper"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e63c298-2383-4efe-9eb3-06b6cd147e52",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.governance }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -176
      ],
      "id": "f02498e8-39c4-4964-911b-206b1e8fcdc3",
      "name": "To governance"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a memory classification system.\n\nClassify the following memory candidate.\n\nReturn JSON that strictly conforms to the provided JSON Schema. Do not include explanations.\n\nMemory:\n\"{{ $json.normalized_text }}\"\n\nSchema:\n{\n  \"type\": \"fact | preference | skill | event | ephemeral\",\n  \"confidence\": number between 0 and 1,\n  \"is_opinion\": boolean,\n  \"is_guess\": boolean\n}\n\nRules:\n- Opinions or guesses must NOT be facts\n- Ephemeral means short-lived or conversational\n- Facts are stable, long-term truths\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"type\": {\n      \"type\": \"string\",\n      \"enum\": [\"fact\", \"preference\", \"skill\", \"event\", \"ephemeral\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    },\n    \"is_opinion\": {\n      \"type\": \"boolean\"\n    },\n    \"is_guess\": {\n      \"type\": \"boolean\"\n    }\n  },\n  \"required\": [\"type\", \"confidence\", \"is_opinion\", \"is_guess\"],\n  \"additionalProperties\": false\n}\n"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        464,
        -240
      ],
      "id": "7fc5ee73-0958-4b06-a99d-5d53dbe4879a",
      "name": "Message Classifier",
      "credentials": {
        "openAiApi": {
          "id": "JAXAQJQgf0B0XCnc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  normalized_text: $input.first().json.document.content\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -160
      ],
      "id": "1ce95e3f-8dfa-4efd-afd3-7641e9f5b5ec",
      "name": "normalize data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Gate": {
      "main": [
        [
          {
            "node": "Document Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Mapper": {
      "main": [
        []
      ]
    },
    "To governance": {
      "main": [
        [
          {
            "node": "Message Classifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Document Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Classifier": {
      "main": [
        [
          {
            "node": "Memory Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize data": {
      "main": [
        [
          {
            "node": "To governance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "document": {
            "content": "the user works at payoneer"
          },
          "governance": true
        }
      }
    ]
  },
  "versionId": "c8c92cd3-a9e6-4731-a519-afa37b996b15",
  "activeVersionId": "c8c92cd3-a9e6-4731-a519-afa37b996b15",
  "versionCounter": 51,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-29T18:50:25.304Z",
      "createdAt": "2025-12-29T18:50:25.304Z",
      "role": "workflow:owner",
      "workflowId": "dUc4LsfxP25i11wD",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-07T18:05:41.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-01T14:11:32.000Z",
    "createdAt": "2026-01-01T14:11:30.466Z",
    "versionId": "c8c92cd3-a9e6-4731-a519-afa37b996b15",
    "workflowId": "dUc4LsfxP25i11wD",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"document\":\n    {\n      \"content\": \"The user is a software engineer\"\n    },\n  \"governance\": true\n}\n"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -208,
          -176
        ],
        "id": "039ec987-5dcd-4717-97a7-1bf2933e5cb0",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d9aeb185-403d-4a57-b3a0-9208bc27ca13",
                "leftValue": "={{ $json.output[0].content[0].text.type }}",
                "rightValue": "ephemeral",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "e9135d40-b171-4672-8788-2574ccb2a944",
                "leftValue": "={{ $json.output[0].content[0].text.confidence }}",
                "rightValue": 0.75,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              },
              {
                "id": "ae1ff637-549a-47b2-ad4f-58186b4ecca9",
                "leftValue": "={{ $json.output[0].content[0].text.is_opinion }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              },
              {
                "id": "e7c463f5-1951-4503-9253-0974d61e2a93",
                "leftValue": "={{ $json.output[0].content[0].text.is_guess }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          816,
          -240
        ],
        "id": "76f9bf0c-3184-4c42-8e6a-81d5e115c840",
        "name": "Memory Gate"
      },
      {
        "parameters": {
          "jsCode": "return [{\n  pageContent: $('normalize data').first().json.normalized_text,\n  metadata: {\n    type: $input.first().json.output[0].content[0].text.type,\n    confidence: $input.first().json.output[0].content[0].text.confidence,\n    is_opinion: $('Message Classifier').first().json.output[0].content[0].text.is_opinion,\n    is_guess: $('Message Classifier').first().json.output[0].content[0].text.is_guess\n  }\n}]\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          -176
        ],
        "id": "e927d23a-db29-4282-b757-8cfc960cdde5",
        "name": "Document Mapper"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4e63c298-2383-4efe-9eb3-06b6cd147e52",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.governance }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          240,
          -176
        ],
        "id": "f02498e8-39c4-4964-911b-206b1e8fcdc3",
        "name": "To governance"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "GPT-5-NANO"
          },
          "responses": {
            "values": [
              {
                "content": "=You are a memory classification system.\n\nClassify the following memory candidate.\n\nReturn JSON that strictly conforms to the provided JSON Schema. Do not include explanations.\n\nMemory:\n\"{{ $json.normalized_text }}\"\n\nSchema:\n{\n  \"type\": \"fact | preference | skill | event | ephemeral\",\n  \"confidence\": number between 0 and 1,\n  \"is_opinion\": boolean,\n  \"is_guess\": boolean\n}\n\nRules:\n- Opinions or guesses must NOT be facts\n- Ephemeral means short-lived or conversational\n- Facts are stable, long-term truths\n"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"type\": {\n      \"type\": \"string\",\n      \"enum\": [\"fact\", \"preference\", \"skill\", \"event\", \"ephemeral\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    },\n    \"is_opinion\": {\n      \"type\": \"boolean\"\n    },\n    \"is_guess\": {\n      \"type\": \"boolean\"\n    }\n  },\n  \"required\": [\"type\", \"confidence\", \"is_opinion\", \"is_guess\"],\n  \"additionalProperties\": false\n}\n"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          464,
          -240
        ],
        "id": "7fc5ee73-0958-4b06-a99d-5d53dbe4879a",
        "name": "Message Classifier",
        "credentials": {
          "openAiApi": {
            "id": "JAXAQJQgf0B0XCnc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return {\n  normalized_text: $input.first().json.document.content\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim()\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          -160
        ],
        "id": "1ce95e3f-8dfa-4efd-afd3-7641e9f5b5ec",
        "name": "normalize data"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "normalize data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Memory Gate": {
        "main": [
          [
            {
              "node": "Document Mapper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Document Mapper": {
        "main": [
          []
        ]
      },
      "To governance": {
        "main": [
          [
            {
              "node": "Message Classifier",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Document Mapper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message Classifier": {
        "main": [
          [
            {
              "node": "Memory Gate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "normalize data": {
        "main": [
          [
            {
              "node": "To governance",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": "Version c8c92cd3",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-01T14:11:32.205Z",
        "id": 40,
        "workflowId": "dUc4LsfxP25i11wD",
        "versionId": "c8c92cd3-a9e6-4731-a519-afa37b996b15",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}