n8n/workflows/N8N Manager - Workflow Update_HGtPmkUCzYOy3lo1.json
{
  "updatedAt": "2026-01-12T08:06:57.594Z",
  "createdAt": "2026-01-07T20:14:00.201Z",
  "id": "HGtPmkUCzYOy3lo1",
  "name": "N8N Manager - Workflow Update",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflowId",
              "type": "string"
            },
            {
              "name": "workflowJson",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wfupdate-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare workflow JSON for update\nconst input = items[0].json;\nlet workflowDef;\n\nif (!input.workflowId) {\n  throw new Error('workflowId is required');\n}\n\ntry {\n  workflowDef = typeof input.workflowJson === 'string' \n    ? JSON.parse(input.workflowJson) \n    : input.workflowJson;\n} catch (e) {\n  throw new Error('Invalid workflow JSON: ' + e.message);\n}\n\nreturn [{\n  json: {\n    workflowId: input.workflowId,\n    workflowBody: JSON.stringify(workflowDef)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "wfupdate-validate-001",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows/{{ $json.workflowId }}",
            "requestBody": "={{ $json.workflowBody }}",
            "requestMethod": "PUT"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "wfupdate-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "jsCode": "// Return update confirmation\nconst response = items[0].json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Workflow updated successfully',\n    workflow: {\n      id: response.id,\n      name: response.name,\n      active: response.active,\n      updatedAt: response.updatedAt\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "wfupdate-format-001",
      "name": "Format Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
  "activeVersionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
  "versionCounter": 50,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-07T20:14:00.203Z",
      "createdAt": "2026-01-07T20:14:00.203Z",
      "role": "workflow:owner",
      "workflowId": "HGtPmkUCzYOy3lo1",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-12T08:20:07.842Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T20:14:00.206Z",
    "createdAt": "2026-01-07T20:14:00.206Z",
    "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
    "workflowId": "HGtPmkUCzYOy3lo1",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "workflowId",
                "type": "string"
              },
              {
                "name": "workflowJson",
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "wfupdate-trigger-001",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "// Validate and prepare workflow JSON for update\nconst input = items[0].json;\nlet workflowDef;\n\nif (!input.workflowId) {\n  throw new Error('workflowId is required');\n}\n\ntry {\n  workflowDef = typeof input.workflowJson === 'string' \n    ? JSON.parse(input.workflowJson) \n    : input.workflowJson;\n} catch (e) {\n  throw new Error('Invalid workflow JSON: ' + e.message);\n}\n\nreturn [{\n  json: {\n    workflowId: input.workflowId,\n    workflowBody: JSON.stringify(workflowDef)\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          0
        ],
        "id": "wfupdate-validate-001",
        "name": "Validate Input"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rJoy4infFhxMynsJ",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "requestPath": "=/workflows/{{ $json.workflowId }}",
              "requestBody": "={{ $json.workflowBody }}",
              "requestMethod": "PUT"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "requestPath",
                "displayName": "requestPath",
                "required": true,
                "type": "string"
              },
              {
                "id": "requestBody",
                "displayName": "requestBody",
                "required": false,
                "type": "string"
              },
              {
                "id": "requestMethod",
                "displayName": "requestMethod",
                "required": true,
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          440,
          0
        ],
        "id": "wfupdate-api-001",
        "name": "Call N8N API"
      },
      {
        "parameters": {
          "jsCode": "// Return update confirmation\nconst response = items[0].json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Workflow updated successfully',\n    workflow: {\n      id: response.id,\n      name: response.name,\n      active: response.active,\n      updatedAt: response.updatedAt\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          0
        ],
        "id": "wfupdate-format-001",
        "name": "Format Response"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Call N8N API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call N8N API": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T20:14:00.867Z",
        "id": 137,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:28:03.530Z",
        "id": 172,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:28:03.747Z",
        "id": 173,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:23.473Z",
        "id": 214,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:23.689Z",
        "id": 215,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:36.342Z",
        "id": 260,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:36.565Z",
        "id": 261,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:52.980Z",
        "id": 307,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:53.386Z",
        "id": 308,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:22.190Z",
        "id": 355,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:22.805Z",
        "id": 356,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-11T15:01:04.772Z",
        "id": 414,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-11T15:01:05.369Z",
        "id": 415,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T07:59:11.522Z",
        "id": 463,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T07:59:11.827Z",
        "id": 464,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:04:59.788Z",
        "id": 512,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:05:01.449Z",
        "id": 513,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:06:57.618Z",
        "id": 561,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:06:57.897Z",
        "id": 562,
        "workflowId": "HGtPmkUCzYOy3lo1",
        "versionId": "7de4d83e-ccb2-42f0-916b-ad19b33ea723",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}