n8n/workflows/N8N Manager - Workflow Activate_GKM344aryPP29f2O.json
{
  "updatedAt": "2026-01-08T08:04:09.059Z",
  "createdAt": "2026-01-07T20:13:31.720Z",
  "id": "GKM344aryPP29f2O",
  "name": "N8N Manager - Workflow Activate",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflowId",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wfactivate-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows/{{ $json.workflowId }}/activate",
            "requestBody": "",
            "requestMethod": "POST"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "wfactivate-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wfactivate-out-001",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "wfactivate-out-002",
              "name": "message",
              "value": "=Workflow {{ $('When Executed by Another Workflow').item.json.workflowId }} activated successfully",
              "type": "string"
            },
            {
              "id": "wfactivate-out-003",
              "name": "active",
              "value": "={{ $json.active }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "wfactivate-success-001",
      "name": "Success Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
  "activeVersionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
  "versionCounter": 30,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-07T20:13:31.722Z",
      "createdAt": "2026-01-07T20:13:31.722Z",
      "role": "workflow:owner",
      "workflowId": "GKM344aryPP29f2O",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-11T06:27:15.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T20:13:31.726Z",
    "createdAt": "2026-01-07T20:13:31.726Z",
    "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
    "workflowId": "GKM344aryPP29f2O",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "workflowId",
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "wfactivate-trigger-001",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rJoy4infFhxMynsJ",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "requestPath": "=/workflows/{{ $json.workflowId }}/activate",
              "requestBody": "",
              "requestMethod": "POST"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "requestPath",
                "displayName": "requestPath",
                "required": true,
                "type": "string"
              },
              {
                "id": "requestBody",
                "displayName": "requestBody",
                "required": false,
                "type": "string"
              },
              {
                "id": "requestMethod",
                "displayName": "requestMethod",
                "required": true,
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          220,
          0
        ],
        "id": "wfactivate-api-001",
        "name": "Call N8N API"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "wfactivate-out-001",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "wfactivate-out-002",
                "name": "message",
                "value": "=Workflow {{ $('When Executed by Another Workflow').item.json.workflowId }} activated successfully",
                "type": "string"
              },
              {
                "id": "wfactivate-out-003",
                "name": "active",
                "value": "={{ $json.active }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          440,
          0
        ],
        "id": "wfactivate-success-001",
        "name": "Success Response"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Call N8N API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call N8N API": {
        "main": [
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T20:13:32.754Z",
        "id": 130,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:27:58.845Z",
        "id": 158,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:27:59.080Z",
        "id": 159,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:18.728Z",
        "id": 200,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:18.976Z",
        "id": 201,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:31.735Z",
        "id": 246,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:31.973Z",
        "id": 247,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:41.120Z",
        "id": 293,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:41.518Z",
        "id": 294,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:09.078Z",
        "id": 341,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:09.791Z",
        "id": 342,
        "workflowId": "GKM344aryPP29f2O",
        "versionId": "037ed67e-283d-4e0c-b11e-c6ea3c616477",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}