n8n/workflows/N8N Manager - Workflow Delete_BMvwGw7h9cRylQUE.json
{
  "updatedAt": "2026-01-07T20:16:05.127Z",
  "createdAt": "2026-01-07T20:13:44.391Z",
  "id": "BMvwGw7h9cRylQUE",
  "name": "N8N Manager - Workflow Delete",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflowId",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wfdelete-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wfdelete-cond-001",
              "leftValue": "={{ $json.workflowId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "wfdelete-check-001",
      "name": "Check ID Provided"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows/{{ $('When Executed by Another Workflow').item.json.workflowId }}",
            "requestBody": "",
            "requestMethod": "DELETE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "wfdelete-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wfdelete-out-001",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "wfdelete-out-002",
              "name": "message",
              "value": "=Workflow {{ $('When Executed by Another Workflow').item.json.workflowId }} deleted successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "wfdelete-success-001",
      "name": "Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wfdelete-err-001",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "wfdelete-err-002",
              "name": "error",
              "value": "workflowId is required",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        200
      ],
      "id": "wfdelete-error-001",
      "name": "Error Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check ID Provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ID Provided": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b39bf495-1f07-4401-9533-d9a634e7a3ce",
  "activeVersionId": "b39bf495-1f07-4401-9533-d9a634e7a3ce",
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-07T20:13:44.393Z",
      "createdAt": "2026-01-07T20:13:44.393Z",
      "role": "workflow:owner",
      "workflowId": "BMvwGw7h9cRylQUE",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-07T18:05:41.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T20:13:44.395Z",
    "createdAt": "2026-01-07T20:13:44.395Z",
    "versionId": "b39bf495-1f07-4401-9533-d9a634e7a3ce",
    "workflowId": "BMvwGw7h9cRylQUE",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "workflowId",
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "wfdelete-trigger-001",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "wfdelete-cond-001",
                "leftValue": "={{ $json.workflowId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          220,
          0
        ],
        "id": "wfdelete-check-001",
        "name": "Check ID Provided"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rJoy4infFhxMynsJ",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "requestPath": "=/workflows/{{ $('When Executed by Another Workflow').item.json.workflowId }}",
              "requestBody": "",
              "requestMethod": "DELETE"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "requestPath",
                "displayName": "requestPath",
                "required": true,
                "type": "string"
              },
              {
                "id": "requestBody",
                "displayName": "requestBody",
                "required": false,
                "type": "string"
              },
              {
                "id": "requestMethod",
                "displayName": "requestMethod",
                "required": true,
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          440,
          0
        ],
        "id": "wfdelete-api-001",
        "name": "Call N8N API"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "wfdelete-out-001",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "wfdelete-out-002",
                "name": "message",
                "value": "=Workflow {{ $('When Executed by Another Workflow').item.json.workflowId }} deleted successfully",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          660,
          0
        ],
        "id": "wfdelete-success-001",
        "name": "Success Response"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "wfdelete-err-001",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "wfdelete-err-002",
                "name": "error",
                "value": "workflowId is required",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          440,
          200
        ],
        "id": "wfdelete-error-001",
        "name": "Error Response"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Check ID Provided",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check ID Provided": {
        "main": [
          [
            {
              "node": "Call N8N API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call N8N API": {
        "main": [
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T20:13:45.554Z",
        "id": 133,
        "workflowId": "BMvwGw7h9cRylQUE",
        "versionId": "b39bf495-1f07-4401-9533-d9a634e7a3ce",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}