n8n/workflows/N8N Manager - Workflow Update_WFUpdate001.json
{
  "id": "WFUpdate001",
  "name": "N8N Manager - Workflow Update",
  "description": "Updates an existing n8n workflow. Requires workflowId and the updated workflow JSON. Returns the updated workflow.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflowId",
              "type": "string"
            },
            {
              "name": "workflowJson",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wfupdate-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare workflow JSON for update\nconst input = items[0].json;\nlet workflowDef;\n\nif (!input.workflowId) {\n  throw new Error('workflowId is required');\n}\n\ntry {\n  workflowDef = typeof input.workflowJson === 'string' \n    ? JSON.parse(input.workflowJson) \n    : input.workflowJson;\n} catch (e) {\n  throw new Error('Invalid workflow JSON: ' + e.message);\n}\n\nreturn [{\n  json: {\n    workflowId: input.workflowId,\n    workflowBody: JSON.stringify(workflowDef)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "wfupdate-validate-001",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows/{{ $json.workflowId }}",
            "requestBody": "={{ $json.workflowBody }}",
            "requestMethod": "PUT"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "wfupdate-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "jsCode": "// Return update confirmation\nconst response = items[0].json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Workflow updated successfully',\n    workflow: {\n      id: response.id,\n      name: response.name,\n      active: response.active,\n      updatedAt: response.updatedAt\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "wfupdate-format-001",
      "name": "Format Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "tags": []
}

