n8n/workflows/N8N Manager - Workflow List_WFList001.json
{
  "id": "WFList001",
  "name": "N8N Manager - Workflow List",
  "description": "Lists all n8n workflows with their status, name, and ID. Returns array of workflow summaries.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "activeOnly",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wflist-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows{{ $json.activeOnly ? '?active=true' : '' }}",
            "requestBody": "",
            "requestMethod": "GET"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "wflist-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "jsCode": "// Format workflow list for readability\nconst response = items[0].json;\nconst workflows = response.data || [];\n\nreturn [{\n  json: {\n    total: workflows.length,\n    workflows: workflows.map(wf => ({\n      id: wf.id,\n      name: wf.name,\n      active: wf.active,\n      createdAt: wf.createdAt,\n      updatedAt: wf.updatedAt\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "wflist-format-001",
      "name": "Format Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "tags": []
}

