n8n/workflows/N8N Manager - Workflow List_Qa93D3eLsEyc8lP8.json
{
  "updatedAt": "2026-01-12T11:52:49.523Z",
  "createdAt": "2026-01-07T20:13:56.806Z",
  "id": "Qa93D3eLsEyc8lP8",
  "name": "N8N Manager - Workflow List",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "activeOnly",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wflist-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows{{ $json.activeOnly ? '?active=true' : '' }}",
            "requestBody": "",
            "requestMethod": "GET"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "wflist-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "jsCode": "// Format workflow list for readability\nconst response = items[0].json;\nconst workflows = response.data || [];\n\nreturn [{\n  json: {\n    total: workflows.length,\n    workflows: workflows.map(wf => ({\n      id: wf.id,\n      name: wf.name,\n      active: wf.active,\n      createdAt: wf.createdAt,\n      updatedAt: wf.updatedAt\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "wflist-format-001",
      "name": "Format Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
  "activeVersionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
  "versionCounter": 55,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-07T20:13:56.809Z",
      "createdAt": "2026-01-07T20:13:56.809Z",
      "role": "workflow:owner",
      "workflowId": "Qa93D3eLsEyc8lP8",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-12T08:20:07.842Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T20:13:56.811Z",
    "createdAt": "2026-01-07T20:13:56.811Z",
    "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
    "workflowId": "Qa93D3eLsEyc8lP8",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "activeOnly",
                "type": "boolean"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "wflist-trigger-001",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rJoy4infFhxMynsJ",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "requestPath": "=/workflows{{ $json.activeOnly ? '?active=true' : '' }}",
              "requestBody": "",
              "requestMethod": "GET"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "requestPath",
                "displayName": "requestPath",
                "required": true,
                "type": "string"
              },
              {
                "id": "requestBody",
                "displayName": "requestBody",
                "required": false,
                "type": "string"
              },
              {
                "id": "requestMethod",
                "displayName": "requestMethod",
                "required": true,
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          220,
          0
        ],
        "id": "wflist-api-001",
        "name": "Call N8N API"
      },
      {
        "parameters": {
          "jsCode": "// Format workflow list for readability\nconst response = items[0].json;\nconst workflows = response.data || [];\n\nreturn [{\n  json: {\n    total: workflows.length,\n    workflows: workflows.map(wf => ({\n      id: wf.id,\n      name: wf.name,\n      active: wf.active,\n      createdAt: wf.createdAt,\n      updatedAt: wf.updatedAt\n    }))\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ],
        "id": "wflist-format-001",
        "name": "Format Response"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Call N8N API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call N8N API": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T20:13:58.180Z",
        "id": 136,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:28:02.866Z",
        "id": 170,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:28:03.087Z",
        "id": 171,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:22.811Z",
        "id": 212,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:23.023Z",
        "id": 213,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:35.694Z",
        "id": 258,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:35.900Z",
        "id": 259,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:51.882Z",
        "id": 305,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:52.237Z",
        "id": 306,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:20.233Z",
        "id": 353,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:20.812Z",
        "id": 354,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-11T15:01:02.426Z",
        "id": 412,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-11T15:01:03.432Z",
        "id": 413,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T07:59:09.788Z",
        "id": 461,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T07:59:10.563Z",
        "id": 462,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:04:55.955Z",
        "id": 510,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:04:56.964Z",
        "id": 511,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:06:55.570Z",
        "id": 559,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:06:56.580Z",
        "id": 560,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T11:52:49.551Z",
        "id": 614,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T11:52:49.797Z",
        "id": 615,
        "workflowId": "Qa93D3eLsEyc8lP8",
        "versionId": "e119dcfb-3038-4e5c-901f-15597b0a1304",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}