n8n/workflows/N8N Manager - Workflow Deactivate_OMqZ93GtwiWTuXne.json
{
  "updatedAt": "2026-01-13T09:38:25.801Z",
  "createdAt": "2026-01-07T20:13:39.143Z",
  "id": "OMqZ93GtwiWTuXne",
  "name": "N8N Manager - Workflow Deactivate",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflowId",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wfdeactivate-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows/{{ $json.workflowId }}/deactivate",
            "requestBody": "",
            "requestMethod": "POST"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "wfdeactivate-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wfdeactivate-out-001",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "wfdeactivate-out-002",
              "name": "message",
              "value": "=Workflow {{ $('When Executed by Another Workflow').item.json.workflowId }} deactivated successfully",
              "type": "string"
            },
            {
              "id": "wfdeactivate-out-003",
              "name": "active",
              "value": "={{ $json.active }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "wfdeactivate-success-001",
      "name": "Success Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
  "activeVersionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
  "versionCounter": 80,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-07T20:13:39.145Z",
      "createdAt": "2026-01-07T20:13:39.145Z",
      "role": "workflow:owner",
      "workflowId": "OMqZ93GtwiWTuXne",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-13T09:18:39.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T20:13:39.149Z",
    "createdAt": "2026-01-07T20:13:39.149Z",
    "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
    "workflowId": "OMqZ93GtwiWTuXne",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "workflowId",
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "wfdeactivate-trigger-001",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rJoy4infFhxMynsJ",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "requestPath": "=/workflows/{{ $json.workflowId }}/deactivate",
              "requestBody": "",
              "requestMethod": "POST"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "requestPath",
                "displayName": "requestPath",
                "required": true,
                "type": "string"
              },
              {
                "id": "requestBody",
                "displayName": "requestBody",
                "required": false,
                "type": "string"
              },
              {
                "id": "requestMethod",
                "displayName": "requestMethod",
                "required": true,
                "type": "string"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          220,
          0
        ],
        "id": "wfdeactivate-api-001",
        "name": "Call N8N API"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "wfdeactivate-out-001",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "wfdeactivate-out-002",
                "name": "message",
                "value": "=Workflow {{ $('When Executed by Another Workflow').item.json.workflowId }} deactivated successfully",
                "type": "string"
              },
              {
                "id": "wfdeactivate-out-003",
                "name": "active",
                "value": "={{ $json.active }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          440,
          0
        ],
        "id": "wfdeactivate-success-001",
        "name": "Success Response"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Call N8N API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call N8N API": {
        "main": [
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T20:13:40.214Z",
        "id": 132,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:28:00.189Z",
        "id": 162,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:28:00.419Z",
        "id": 163,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:20.083Z",
        "id": 204,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:30:20.296Z",
        "id": 205,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:33.053Z",
        "id": 250,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T07:31:33.286Z",
        "id": 251,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:43.984Z",
        "id": 297,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:02:44.418Z",
        "id": 298,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:13.180Z",
        "id": 345,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-08T08:04:13.886Z",
        "id": 346,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-11T15:00:55.110Z",
        "id": 404,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-11T15:00:55.452Z",
        "id": 405,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T07:58:59.728Z",
        "id": 453,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T07:59:00.754Z",
        "id": 454,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:04:43.118Z",
        "id": 502,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:04:44.098Z",
        "id": 503,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:06:44.241Z",
        "id": 551,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T08:06:45.254Z",
        "id": 552,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T11:52:46.599Z",
        "id": 606,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T11:52:46.843Z",
        "id": 607,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T12:24:25.604Z",
        "id": 659,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-12T12:24:25.901Z",
        "id": 660,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:29:56.869Z",
        "id": 708,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:29:57.109Z",
        "id": 709,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:31:48.732Z",
        "id": 758,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:31:48.986Z",
        "id": 759,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:33:54.824Z",
        "id": 807,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:33:55.061Z",
        "id": 808,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:38:25.828Z",
        "id": 856,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      },
      {
        "createdAt": "2026-01-13T09:38:26.089Z",
        "id": 857,
        "workflowId": "OMqZ93GtwiWTuXne",
        "versionId": "414f6a3a-9980-4e46-ae77-4104268235a6",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}