n8n/workflows/N8N Manager - Workflow Activate_WFActivate001.json
{
  "id": "WFActivate001",
  "name": "N8N Manager - Workflow Activate",
  "description": "Activates an n8n workflow by ID. The workflow will start listening for triggers after activation.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflowId",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wfactivate-trigger-001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rJoy4infFhxMynsJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "requestPath": "=/workflows/{{ $json.workflowId }}/activate",
            "requestBody": "",
            "requestMethod": "POST"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestPath",
              "displayName": "requestPath",
              "required": true,
              "type": "string"
            },
            {
              "id": "requestBody",
              "displayName": "requestBody",
              "required": false,
              "type": "string"
            },
            {
              "id": "requestMethod",
              "displayName": "requestMethod",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "wfactivate-api-001",
      "name": "Call N8N API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wfactivate-out-001",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "wfactivate-out-002",
              "name": "message",
              "value": "=Workflow {{ $('When Executed by Another Workflow').item.json.workflowId }} activated successfully",
              "type": "string"
            },
            {
              "id": "wfactivate-out-003",
              "name": "active",
              "value": "={{ $json.active }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "wfactivate-success-001",
      "name": "Success Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call N8N API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call N8N API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "tags": []
}

