n8n/workflows/Tool Executor_4PYucj3iS4tt0h4M.json
{
  "updatedAt": "2026-01-12T08:20:21.903Z",
  "createdAt": "2026-01-12T08:20:02.802Z",
  "id": "4PYucj3iS4tt0h4M",
  "name": "Tool Executor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f6f3bb0f-5cdc-4265-8273-d59ec0ead2e9",
      "name": "Webhook",
      "webhookId": "tool-executor"
    },
    {
      "parameters": {
        "jsCode": "// Extract tool name and params from request\nconst body = $input.first().json.body || $input.first().json;\nconst tool = body.tool || '';\nconst params = body.params || {};\n\n// Map tool names to workflow IDs\nconst toolMap = {\n  'system_status': '7LHGwHNVnfFNR7Dz',\n  'docker_control': 'oj51dGKjapXRP91r',\n  'service_control': 'EmRfZ7kbqyAIbz4m',\n  'jellyfin_api': 'JlhBPAIfI8WHfCsj',\n  'ssh_command': 'TTqKNvyugLWoVF08',\n  'gemini_cli': 'anunjMp26km77JN7',\n  'add_memory': 'sCcmYT1ufy8hrHMA',\n  'memory_governance': 'dUc4LsfxP25i11wD',\n  'memory_deduplication': '07RhLX2UKvMjY1cr',\n  'n8n_workflow_list': 'Qa93D3eLsEyc8lP8',\n  'n8n_workflow_get': 'pnlb3Sp3BsBxRMwo',\n  'n8n_workflow_create': 'rmHtxGxBYPtmotHz',\n  'n8n_workflow_update': 'HGtPmkUCzYOy3lo1',\n  'n8n_workflow_delete': 'BMvwGw7h9cRylQUE',\n  'n8n_workflow_activate': 'GKM344aryPP29f2O',\n  'n8n_workflow_deactivate': 'OMqZ93GtwiWTuXne',\n  'n8n_workflow_execute': 'eEtS2fTRa7FA8wAl'\n};\n\nconst workflowId = toolMap[tool];\n\nif (!workflowId) {\n  return [{\n    json: {\n      status: 'error',\n      tool,\n      error: `Unknown tool: ${tool}`,\n      availableTools: Object.keys(toolMap),\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Execute the sub-workflow\ntry {\n  const result = await $executeWorkflow(workflowId, [params]);\n  return [{\n    json: {\n      status: 'success',\n      tool,\n      result: result[0]?.json || result,\n      timestamp: new Date().toISOString()\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: 'error',\n      tool,\n      error: error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "07d31c2c-2e1f-4536-801a-7f2d3f07211b",
      "name": "Route and Execute"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "61d294f4-7ee7-4a51-93fc-cc92c47107a0",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route and Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route and Execute": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "db1dce40-88b7-46d3-802a-a528aec9b9ab",
  "activeVersionId": "db1dce40-88b7-46d3-802a-a528aec9b9ab",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-12T08:20:02.804Z",
      "createdAt": "2026-01-12T08:20:02.804Z",
      "role": "workflow:owner",
      "workflowId": "4PYucj3iS4tt0h4M",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-12T08:20:07.842Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-12T08:20:11.000Z",
    "createdAt": "2026-01-12T08:20:02.805Z",
    "versionId": "db1dce40-88b7-46d3-802a-a528aec9b9ab",
    "workflowId": "4PYucj3iS4tt0h4M",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "tool-executor",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "f6f3bb0f-5cdc-4265-8273-d59ec0ead2e9",
        "name": "Webhook",
        "webhookId": "tool-executor"
      },
      {
        "parameters": {
          "jsCode": "// Extract tool name and params from request\nconst body = $input.first().json.body || $input.first().json;\nconst tool = body.tool || '';\nconst params = body.params || {};\n\n// Map tool names to workflow IDs\nconst toolMap = {\n  'system_status': '7LHGwHNVnfFNR7Dz',\n  'docker_control': 'oj51dGKjapXRP91r',\n  'service_control': 'EmRfZ7kbqyAIbz4m',\n  'jellyfin_api': 'JlhBPAIfI8WHfCsj',\n  'ssh_command': 'TTqKNvyugLWoVF08',\n  'gemini_cli': 'anunjMp26km77JN7',\n  'add_memory': 'sCcmYT1ufy8hrHMA',\n  'memory_governance': 'dUc4LsfxP25i11wD',\n  'memory_deduplication': '07RhLX2UKvMjY1cr',\n  'n8n_workflow_list': 'Qa93D3eLsEyc8lP8',\n  'n8n_workflow_get': 'pnlb3Sp3BsBxRMwo',\n  'n8n_workflow_create': 'rmHtxGxBYPtmotHz',\n  'n8n_workflow_update': 'HGtPmkUCzYOy3lo1',\n  'n8n_workflow_delete': 'BMvwGw7h9cRylQUE',\n  'n8n_workflow_activate': 'GKM344aryPP29f2O',\n  'n8n_workflow_deactivate': 'OMqZ93GtwiWTuXne',\n  'n8n_workflow_execute': 'eEtS2fTRa7FA8wAl'\n};\n\nconst workflowId = toolMap[tool];\n\nif (!workflowId) {\n  return [{\n    json: {\n      status: 'error',\n      tool,\n      error: `Unknown tool: ${tool}`,\n      availableTools: Object.keys(toolMap),\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Execute the sub-workflow\ntry {\n  const result = await $executeWorkflow(workflowId, [params]);\n  return [{\n    json: {\n      status: 'success',\n      tool,\n      result: result[0]?.json || result,\n      timestamp: new Date().toISOString()\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      status: 'error',\n      tool,\n      error: error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "id": "07d31c2c-2e1f-4536-801a-7f2d3f07211b",
        "name": "Route and Execute"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          448,
          0
        ],
        "id": "61d294f4-7ee7-4a51-93fc-cc92c47107a0",
        "name": "Respond"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Route and Execute",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route and Execute": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": "Version db1dce40",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-12T08:20:11.157Z",
        "id": 568,
        "workflowId": "4PYucj3iS4tt0h4M",
        "versionId": "db1dce40-88b7-46d3-802a-a528aec9b9ab",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}