n8n/workflows/Tool Executor_API.json
{
  "name": "Tool Executor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract tool and params from request body\nconst body = $input.first().json.body || $input.first().json;\nconst tool = body.tool || '';\nconst params = body.params || {};\n\n// Map tool names to workflow IDs\nconst toolMap = {\n  'system_status': '7LHGwHNVnfFNR7Dz',\n  'docker_control': 'oj51dGKjapXRP91r',\n  'service_control': 'EmRfZ7kbqyAIbz4m',\n  'jellyfin_api': 'JlhBPAIfI8WHfCsj',\n  'ssh_command': 'TTqKNvyugLWoVF08',\n  'gemini_cli': 'anunjMp26km77JN7',\n  'add_memory': 'sCcmYT1ufy8hrHMA',\n  'memory_governance': 'dUc4LsfxP25i11wD',\n  'memory_deduplication': '07RhLX2UKvMjY1cr',\n  'n8n_workflow_list': 'Qa93D3eLsEyc8lP8',\n  'n8n_workflow_get': 'pnlb3Sp3BsBxRMwo',\n  'n8n_workflow_create': 'rmHtxGxBYPtmotHz',\n  'n8n_workflow_update': 'HGtPmkUCzYOy3lo1',\n  'n8n_workflow_delete': 'BMvwGw7h9cRylQUE',\n  'n8n_workflow_activate': 'GKM344aryPP29f2O',\n  'n8n_workflow_deactivate': 'OMqZ93GtwiWTuXne',\n  'n8n_workflow_execute': 'eEtS2fTRa7FA8wAl'\n};\n\nconst workflowId = toolMap[tool];\n\nif (!workflowId) {\n  return [{\n    json: {\n      status: 'error',\n      tool,\n      error: `Unknown tool: ${tool}`,\n      availableTools: Object.keys(toolMap),\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    tool,\n    workflowId,\n    params\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "extract-params",
      "name": "Extract Params"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300],
      "id": "check-error",
      "name": "Check Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:20003/api/v1/workflows/{{ $json.workflowId }}/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.params) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 400],
      "id": "execute-workflow",
      "name": "Execute Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api",
          "name": "n8n API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the response\nconst input = $input.first().json;\nconst tool = $('Extract Params').first().json.tool;\n\n// Extract result from the API response\nlet result = input;\nif (input.data && input.data.resultData) {\n  result = input.data.resultData.runData;\n} else if (input.executionId) {\n  result = input;\n}\n\nreturn [{\n  json: {\n    status: 'success',\n    tool,\n    result,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "id": "respond-1",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Params", "type": "main", "index": 0}]]
    },
    "Extract Params": {
      "main": [[{"node": "Check Error", "type": "main", "index": 0}]]
    },
    "Check Error": {
      "main": [
        [{"node": "Respond", "type": "main", "index": 0}],
        [{"node": "Execute Workflow", "type": "main", "index": 0}]
      ]
    },
    "Execute Workflow": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "active": false
}

