n8n/workflows/Tool Executor_YZsXWIZBfzMr366m.json
{
  "name": "Tool Executor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "tool-exec-webhook",
      "name": "Webhook",
      "webhookId": "tool-executor"
    },
    {
      "parameters": {
        "jsCode": "// Extract tool name and params from request\nconst body = $input.first().json.body || $input.first().json;\nconst tool = body.tool || '';\nconst params = body.params || {};\n\nreturn [{\n  json: {\n    tool,\n    params,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "tool-exec-parse",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "system_status",
              "value1": "={{ $json.tool }}",
              "value2": "system_status"
            },
            {
              "outputKey": "docker_control",
              "value1": "={{ $json.tool }}",
              "value2": "docker_control"
            },
            {
              "outputKey": "service_control",
              "value1": "={{ $json.tool }}",
              "value2": "service_control"
            },
            {
              "outputKey": "jellyfin_api",
              "value1": "={{ $json.tool }}",
              "value2": "jellyfin_api"
            },
            {
              "outputKey": "ssh_command",
              "value1": "={{ $json.tool }}",
              "value2": "ssh_command"
            },
            {
              "outputKey": "gemini_cli",
              "value1": "={{ $json.tool }}",
              "value2": "gemini_cli"
            },
            {
              "outputKey": "n8n_workflow",
              "value1": "={{ $json.tool.startsWith('n8n_workflow') }}",
              "value2": "true"
            }
          ],
          "fallbackOutput": "unknown"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ],
      "id": "tool-exec-switch",
      "name": "Route Tool"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7LHGwHNVnfFNR7Dz",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        -300
      ],
      "id": "tool-exec-system-status",
      "name": "System Status"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oj51dGKjapXRP91r",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        -200
      ],
      "id": "tool-exec-docker",
      "name": "Docker Control"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EmRfZ7kbqyAIbz4m",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        -100
      ],
      "id": "tool-exec-service",
      "name": "Service Control"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JlhBPAIfI8WHfCsj",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        0
      ],
      "id": "tool-exec-jellyfin",
      "name": "Jellyfin API"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TTqKNvyugLWoVF08",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        100
      ],
      "id": "tool-exec-ssh",
      "name": "SSH Command"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "anunjMp26km77JN7",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        200
      ],
      "id": "tool-exec-gemini",
      "name": "Gemini CLI"
    },
    {
      "parameters": {
        "jsCode": "// Route to appropriate N8N Manager workflow based on action\nconst tool = $input.first().json.tool;\nconst params = $input.first().json.params;\n\n// Map tool names to workflow IDs\nconst workflowMap = {\n  'n8n_workflow_list': 'Qa93D3eLsEyc8lP8',\n  'n8n_workflow_get': 'pnlb3Sp3BsBxRMwo',\n  'n8n_workflow_create': 'rmHtxGxBYPtmotHz',\n  'n8n_workflow_update': 'HGtPmkUCzYOy3lo1',\n  'n8n_workflow_delete': 'BMvwGw7h9cRylQUE',\n  'n8n_workflow_activate': 'GKM344aryPP29f2O',\n  'n8n_workflow_deactivate': 'OMqZ93GtwiWTuXne',\n  'n8n_workflow_execute': 'eEtS2fTRa7FA8wAl'\n};\n\nconst workflowId = workflowMap[tool];\n\nif (!workflowId) {\n  return [{\n    json: {\n      status: 'error',\n      error: `Unknown N8N workflow tool: ${tool}`,\n      tool\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    workflowId,\n    params,\n    tool\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "id": "tool-exec-n8n-route",
      "name": "Route N8N Tool"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'error',\n    error: `Unknown tool: ${$input.first().json.tool}`,\n    tool: $input.first().json.tool\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ],
      "id": "tool-exec-unknown",
      "name": "Unknown Tool"
    },
    {
      "parameters": {
        "jsCode": "// Format the result for response\nconst result = $input.first().json;\nconst originalRequest = $('Parse Request').first().json;\n\nreturn [{\n  json: {\n    status: result.status || 'success',\n    tool: originalRequest.tool,\n    result: result,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "tool-exec-format",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        0
      ],
      "id": "tool-exec-respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Route Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Tool": {
      "main": [
        [
          {
            "node": "System Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Docker Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jellyfin API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini CLI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route N8N Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Status": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker Control": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Control": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jellyfin API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Command": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini CLI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route N8N Tool": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Tool": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "id": "YZsXWIZBfzMr366m"
}