n8n/workflows/Tool Executor_uQwTAlAxsMiyM1Qj.json
{
  "updatedAt": "2026-01-13T09:43:23.500Z",
  "createdAt": "2026-01-13T09:33:59.973Z",
  "id": "uQwTAlAxsMiyM1Qj",
  "name": "Tool Executor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "58242dcc-7bb9-44ea-977e-3277dc591732"
    },
    {
      "parameters": {
        "jsCode": "// Extract tool and params from request body\nconst body = $input.first().json.body || $input.first().json;\nconst tool = body.tool || '';\nconst params = body.params || {};\n\n// Map tool names to workflow IDs\nconst toolMap = {\n  'system_status': '7LHGwHNVnfFNR7Dz',\n  'docker_control': 'oj51dGKjapXRP91r',\n  'service_control': 'EmRfZ7kbqyAIbz4m',\n  'jellyfin_api': 'JlhBPAIfI8WHfCsj',\n  'ssh_command': 'TTqKNvyugLWoVF08',\n  'gemini_cli': 'anunjMp26km77JN7',\n  'add_memory': 'sCcmYT1ufy8hrHMA',\n  'memory_governance': 'dUc4LsfxP25i11wD',\n  'memory_deduplication': '07RhLX2UKvMjY1cr',\n  'n8n_workflow_list': 'Qa93D3eLsEyc8lP8',\n  'n8n_workflow_get': 'pnlb3Sp3BsBxRMwo',\n  'n8n_workflow_create': 'rmHtxGxBYPtmotHz',\n  'n8n_workflow_update': 'HGtPmkUCzYOy3lo1',\n  'n8n_workflow_delete': 'BMvwGw7h9cRylQUE',\n  'n8n_workflow_activate': 'GKM344aryPP29f2O',\n  'n8n_workflow_deactivate': 'OMqZ93GtwiWTuXne',\n  'n8n_workflow_execute': 'eEtS2fTRa7FA8wAl'\n};\n\nconst workflowId = toolMap[tool];\n\nif (!workflowId) {\n  return [{\n    json: {\n      status: 'error',\n      tool,\n      error: `Unknown tool: ${tool}`,\n      availableTools: Object.keys(toolMap),\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Return flattened params with tool info for sub-workflow\nreturn [{\n  json: {\n    ...params,\n    _tool: tool,\n    _workflowId: workflowId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        304
      ],
      "id": "extract-params",
      "name": "Extract Params"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        304
      ],
      "id": "check-error",
      "name": "Check Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json._workflowId }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "infoType"
          ],
          "schema": [
            {
              "id": "infoType",
              "displayName": "infoType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        400
      ],
      "id": "execute-workflow",
      "name": "Execute Sub-Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Format the response from sub-workflow\nconst input = $input.first().json;\nconst extractParams = $('Extract Params').first().json;\nconst tool = extractParams._tool;\n\n// The sub-workflow output is already in the expected format\nlet result = input;\n\n// If the sub-workflow returned a status, use it as-is\nif (input.status) {\n  return [{ json: { ...input, tool } }];\n}\n\n// Otherwise wrap it in a success response\nreturn [{\n  json: {\n    status: 'success',\n    tool,\n    result,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1104,
        304
      ],
      "id": "respond-1",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sub-Workflow": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dd95e5a9-c2d3-4fc0-80af-614f2a66c98f",
  "activeVersionId": "dd95e5a9-c2d3-4fc0-80af-614f2a66c98f",
  "versionCounter": 14,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-13T09:33:59.974Z",
      "createdAt": "2026-01-13T09:33:59.974Z",
      "role": "workflow:owner",
      "workflowId": "uQwTAlAxsMiyM1Qj",
      "projectId": "cyBU0P25SZASl1ZF",
      "project": {
        "updatedAt": "2025-12-17T07:41:57.804Z",
        "createdAt": "2025-12-17T07:35:20.908Z",
        "id": "cyBU0P25SZASl1ZF",
        "name": "Amir Kakon <pppchevy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-17T07:35:20.908Z",
            "createdAt": "2025-12-17T07:35:20.908Z",
            "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
            "projectId": "cyBU0P25SZASl1ZF",
            "user": {
              "updatedAt": "2026-01-13T09:18:39.000Z",
              "createdAt": "2025-12-17T07:35:20.329Z",
              "id": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd",
              "email": "pppchevy@gmail.com",
              "firstName": "Amir",
              "lastName": "Kakon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-17T07:42:13.516Z",
                "personalization_survey_n8n_version": "2.0.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "dJmq3O0s7lDAMANm",
                "userActivatedAt": 1766675621429,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767600020939
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-13T09:43:25.000Z",
    "createdAt": "2026-01-13T09:43:23.501Z",
    "versionId": "dd95e5a9-c2d3-4fc0-80af-614f2a66c98f",
    "workflowId": "uQwTAlAxsMiyM1Qj",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "tool-executor",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          304
        ],
        "id": "webhook-1",
        "name": "Webhook",
        "webhookId": "58242dcc-7bb9-44ea-977e-3277dc591732"
      },
      {
        "parameters": {
          "jsCode": "// Extract tool and params from request body\nconst body = $input.first().json.body || $input.first().json;\nconst tool = body.tool || '';\nconst params = body.params || {};\n\n// Map tool names to workflow IDs\nconst toolMap = {\n  'system_status': '7LHGwHNVnfFNR7Dz',\n  'docker_control': 'oj51dGKjapXRP91r',\n  'service_control': 'EmRfZ7kbqyAIbz4m',\n  'jellyfin_api': 'JlhBPAIfI8WHfCsj',\n  'ssh_command': 'TTqKNvyugLWoVF08',\n  'gemini_cli': 'anunjMp26km77JN7',\n  'add_memory': 'sCcmYT1ufy8hrHMA',\n  'memory_governance': 'dUc4LsfxP25i11wD',\n  'memory_deduplication': '07RhLX2UKvMjY1cr',\n  'n8n_workflow_list': 'Qa93D3eLsEyc8lP8',\n  'n8n_workflow_get': 'pnlb3Sp3BsBxRMwo',\n  'n8n_workflow_create': 'rmHtxGxBYPtmotHz',\n  'n8n_workflow_update': 'HGtPmkUCzYOy3lo1',\n  'n8n_workflow_delete': 'BMvwGw7h9cRylQUE',\n  'n8n_workflow_activate': 'GKM344aryPP29f2O',\n  'n8n_workflow_deactivate': 'OMqZ93GtwiWTuXne',\n  'n8n_workflow_execute': 'eEtS2fTRa7FA8wAl'\n};\n\nconst workflowId = toolMap[tool];\n\nif (!workflowId) {\n  return [{\n    json: {\n      status: 'error',\n      tool,\n      error: `Unknown tool: ${tool}`,\n      availableTools: Object.keys(toolMap),\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Return flattened params with tool info for sub-workflow\nreturn [{\n  json: {\n    ...params,\n    _tool: tool,\n    _workflowId: workflowId\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          304
        ],
        "id": "extract-params",
        "name": "Extract Params"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-error",
                "leftValue": "={{ $json.status }}",
                "rightValue": "error",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          304
        ],
        "id": "check-error",
        "name": "Check Error"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "={{ $json._workflowId }}",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [
              "infoType"
            ],
            "schema": [
              {
                "id": "infoType",
                "displayName": "infoType",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          672,
          400
        ],
        "id": "execute-workflow",
        "name": "Execute Sub-Workflow"
      },
      {
        "parameters": {
          "jsCode": "// Format the response from sub-workflow\nconst input = $input.first().json;\nconst extractParams = $('Extract Params').first().json;\nconst tool = extractParams._tool;\n\n// The sub-workflow output is already in the expected format\nlet result = input;\n\n// If the sub-workflow returned a status, use it as-is\nif (input.status) {\n  return [{ json: { ...input, tool } }];\n}\n\n// Otherwise wrap it in a success response\nreturn [{\n  json: {\n    status: 'success',\n    tool,\n    result,\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          400
        ],
        "id": "format-response",
        "name": "Format Response"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1104,
          304
        ],
        "id": "respond-1",
        "name": "Respond"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Params": {
        "main": [
          [
            {
              "node": "Check Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Error": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Sub-Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Sub-Workflow": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Amir Kakon",
    "name": "Version dd95e5a9",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-13T09:43:25.385Z",
        "id": 876,
        "workflowId": "uQwTAlAxsMiyM1Qj",
        "versionId": "dd95e5a9-c2d3-4fc0-80af-614f2a66c98f",
        "event": "activated",
        "userId": "045524f4-1d37-4cdf-9c9b-f566c48b5fbd"
      }
    ]
  }
}